<!DOCTYPE html>
<!--
                  _                  __ _        _
 __      _____  __| | ___  ___  ___  / _| |_   __| | ___
 \ \ /\ / / _ \/ _` |/ _ \/ __|/ _ \| |_| __| / _` |/ _ \
  \ V  V /  __/ (_| |  __/\__ \ (_) |  _| |_ | (_| |  __/
   \_/\_/ \___|\__,_|\___||___/\___/|_|  \__(_)__,_|\___|

-->
<html lang="en-us">

  {% include head.html %}

  <!-- See https://github.com/wedesoft/www.wedesoft.de for website source code -->
  <!-- See https://illustmaker.abi-station.com/index_en.shtml for creating avatars. -->

  <body class="theme-base-0b">

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
